<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<link rel="icon" href="@Url.Content("~/Content/imgs/favicon.ico")" />

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body id="top">
	<header>
		@Html.Partial("~/Views/common/_Header.cshtml")
	</header>
	<section class="content">
		<div class="container">
			@* Левое меню *@
			@Html.Partial("~/Views/common/_Header.cshtml")
			<div id="content">
				@RenderBody()
			</div>
			</div>
	</section>
	<footer>
		@Html.Partial("~/Views/common/_Footer.cshtml")
	</footer>
</body>
</html>
