@{
	Layout = "~/Views/_Layouts/Main.cshtml";
}

<div class="container">
	
		@foreach (CustomLight.Domain.Category item in ViewBag.Categories)
		{
			<div class="col-lg-3">
				<p>@item.Name</p>
				<p>@item.Created</p>
				<p>@item.Updated</p>
				<p>@item.Description</p>
				<p>@item.ShortDescription</p>
			</div>
				
		}
</div>

